<section class="container py-5">
  <div class="row">
    <div class="col-lg-6 col-md-5 mx-auto">
      <h1>{{ section.settings.title }}</h1>
      {{ section.settings.desciption }}
      <a style="border: 1px solid black; padding:12px 24px;"
        href="{{ section.settings.Button_link }}">{{ section.settings.button_label }}</a>
    </div>
  </div>
</section>
{% schema %}
  {
    "name": "Featured",
    "class": "feature-test",
    "settings": [
      {
        "type": "collection",
        "id": "testfdgsn",
        "lable": "collection"
      }, {
        "type": "text",
        "id": "test1",
        "default": "default collection",
        "lable": "title"
      }
    ],
    "presets": [
      {
        "category": "collection",
        "name": "Feature test collection"
      }
    ]
  }
{% endschema %}