<section>
  {% for product in collection[section.settings.feature_collection].products %}
    {{ product.title }}
  {% endfor %}
</section>
{% schema %}
  {
    "name": "Featured Collection",
    "class": "feature-collection",
    "settings": [
      {
        "type": "collection",
        "id": "feature_collection",
        "lable": "collection"
      }, {
        "type": "text",
        "id": "title",
        "default": "default collection",
        "lable": "title"
      }
    ],
    "presets": [
      {
        "category": "collection",
        "name": "Feature test collection"
      }
    ]
  }
{% endschema %}