<section>
  {% for product in collections[section.settings.testfdgsn].products %}
    <p>{{ product.title }}</p>
  {% endfor %}
</section>
{% schema %}
  {
    "name": "Featured",
    "class": "feature-test section",
    "settings": [
      {
        "type": "collection",
        "id": "testfdgsn",
        "lable": "collection"
      }, {
        "type": "text",
        "id": "test1",
        "default": "default collection",
        "lable": "title"
      }
    ],
    "presets": [
      {
        "category": "collection",
        "name": "Feature test collection"
      }
    ]
  }
{% endschema %}